<div class="modal-content">
    <div class="modal-header">
      <div class="modal-title h4" id="example-modal-sizes-title-lg">
        Cadastro de turmas
      </div>
    </div>
    <div class="overlay overlay-block cursor-default modal-body" style="min-height: 404px">
      <ng-container>
        <form action="#" class="form form-label-right" [formGroup]="createForm">
  
          <!-- start: turma -->
          <div class="form-group row">
            <div class="col-lg">
              <label class="form-label" for="turma">Turma</label>
              <input type="text" id="turma" class="form-control form-control-lg form-control-solid" name="turma" placeholder="nome" autocomplete="off" formControlName="turma" [class.is-invalid]="isControlInvalid('turma')" [class.is-valid]="isControlValid('turma')" />
              <div class="valid-feedback" *ngIf="isControlValid('turma')">
                Ok!
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'turma')">
                Campo necessário
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'turma')">
                Muito curto
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxlength', 'turma')">
                Limite de caracteres excedido
              </div>
            </div>
          </div>
          <!-- end: turma -->

       <!-- start: curso -->
       <div class="form-group row">
        <div class="col-lg">
          <label>Curso</label>
          <select class="form-control form-control-lg form-control-solid" name="cursoId" formControlName="cursoId" required>
            <option value="1">Primeira Habilitação</option>
            <option value="2">Renovação</option>
            <option value="3">Reciclagem Infrator</option>
            <option value="4">Formação Mototaxista</option>
          </select>
        </div>
      </div>
      <!-- end: curso -->

       <!-- start: instrutor -->
       <div class="form-group row">
        <div class="col-lg">
          <label>Instrutor</label>
          <select class="form-control form-control-lg form-control-solid" name="instrutorId" formControlName="instrutorId" required>
            <option value="1">Instrutor A</option>
            <option value="2">Instrutor B</option>
            <option value="3">Instrutor C</option>
            <option value="4">Instrutor D</option>
          </select>
        </div>
      </div>
      <!-- end: instrutor -->
          <!-- start:matricula -->
          <div class="form-group row">
            <div class="col-lg">
              <label class="form-label" for="matricula">Matrícula</label>
              <input type="text" id="matricula" class="form-control form-control-lg form-control-solid" name="matricula" placeholder="matrícula" autocomplete="off" formControlName="matricula" [class.is-invalid]="isControlInvalid('matricula')" [class.is-valid]="isControlValid('matricula')" />
              <div class="valid-feedback" *ngIf="isControlValid('matricula')">
                Ok!
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'matricula')">
                Campo necessário
              </div>
            </div>
          </div>
          <!-- end:matricula -->
         <!-- start:link -->
         <div class="form-group row">
            <div class="col-lg">
              <label class="form-label" for="link">Link da sala virtual</label>
              <input type="text" id="link" class="form-control form-control-lg form-control-solid" name="link" placeholder="url" autocomplete="off" formControlName="link" [class.is-invalid]="isControlInvalid('link')" [class.is-valid]="isControlValid('link')" />
              <div class="valid-feedback" *ngIf="isControlValid('link')">
                Ok!
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'link')">
                Campo necessário
              </div>
            </div>
          </div>
          <!-- end: Link -->
           <!-- start: Data inicio -->
           <div class="form-group row">
            <div class="col-lg">
              <label>Data de Inicio</label>
              <div class="input-group input-group-solid">
                <input type="date" name="dataInicio" class="form-control form-control-lg form-control-solid" autocomplete="off" [class.is-invalid]="isControlInvalid('dataInicio')" [class.is-valid]="isControlValid('dataInicio')" formControlName="dataInicio" required />
              </div>
              <span class="valid-feedback" *ngIf="isControlValid('dataInicio')">
                Ok!
              </span>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'dataInicio')">
                Formato da data incorreta
              </div>
            </div>
            <!-- end: Data inicio -->
            <!-- start: data fim -->
            <div class="col-lg">
              <label class="form-label" for="dataFim">Data do fim</label>
              <input type="date" id="dataFim" class="form-control form-control-lg form-control-solid" name="dataFim" placeholder="Data do Fim" autocomplete="off" formControlName="dataFim" [class.is-invalid]="isControlInvalid('dataFim')" [class.is-valid]="isControlValid('dataFim')" />
              <div class="valid-feedback" *ngIf="isControlValid('dataFim')">
                Ok!
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'dataFim')">
                Formato da data incorreta
              </div>
            </div>
          </div>
          <!-- end: data fim--> 
        </form>
      </ng-container>
    </div>
  
    <div class="modal-footer">
      <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">
        Cancelar
      </button>
      <ng-container>
        <button type="submit" class="btn btn-primary btn-elevate" (click)="save()" [disabled]="createForm.invalid">
          Salvar
        </button>
      </ng-container>
    </div>
  </div>