<ng-container *ngIf="loading;">
    <mat-progress-bar [mode]="'indeterminate'" class="mb-5"></mat-progress-bar>
</ng-container>
<div *ngIf="!loading" class="w-full max-w-3xl">

    <form [formGroup]="securityForm">

        <div class="w-full">
            <div class="text-xl">Altere sua senha</div>
            <div class="text-secondary">Mantenha sua conta segura, atualize sua senha constantemente</div>
        </div>

        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">

            <!-- start:Current password -->
            <div class="sm:col-span-4">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Senha atual</mat-label>
                    <mat-icon
                        [svgIcon]="'heroicons_solid:key'"
                        class="icon-size-5"
                        matPrefix></mat-icon>
                    <input
                        #passwordField
                        [formControlName]="'currentPassword'"
                        id="password"
                        matInput
                        type="password">
                    <button
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        mat-icon-button
                        matSuffix
                        type="button">
                        <mat-icon
                            *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"
                            class="icon-size-5">

                        </mat-icon>
                        <mat-icon
                            *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"
                            class="icon-size-5">
                        </mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <!-- end:Current password -->

            <!-- start:New password -->
            <div class="sm:col-span-4">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Nova Senha</mat-label>
                    <mat-icon
                        [svgIcon]="'heroicons_solid:key'"
                        class="icon-size-5"
                        matPrefix></mat-icon>
                    <input
                        #newPasswordField
                        [formControlName]="'newPassword'"
                        id="newPasswordField"
                        matInput
                        type="password">
                    <button
                        (click)="newPasswordField.type === 'password' ? newPasswordField.type = 'text' : newPasswordField.type = 'password'"
                        mat-icon-button
                        matSuffix
                        type="button">
                        <mat-icon
                            *ngIf="newPasswordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"
                            class="icon-size-5">

                        </mat-icon>
                        <mat-icon
                            *ngIf="newPasswordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"
                            class="icon-size-5">
                        </mat-icon>
                    </button>
                </mat-form-field>
                <div class="mt-1 text-md text-hint">Informe uma senha maior que 5 dígitos, com letras e números.
                </div>
            </div>
            <!-- end:New password -->

        </div>

        <!-- Divider -->
        <div class="my-10 border-t"></div>

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <button
                (click)="update()"
                [color]="'primary'"
                [disabled]="securityForm.disabled || securityForm.invalid"
                class="ml-4"
                mat-flat-button
                type="button">Atualizar
            </button>
        </div>
    </form>

</div>
