
<ng-container>
  <div class="card card-custom card-stretch">
    <!--begin::Header-->
    <div class="card-header py-3">
      <div class="card-title align-items-start flex-column">
        <h3 class="card-label font-weight-bolder text-dark">Informação Pessoal</h3>
        <span class="text-muted font-weight-bold font-size-sm mt-1">Altere suas informações</span>
      </div>
      <div class="card-toolbar">
        <button type="submit" class="btn btn-success mr-2" (click)="save()">Salvar mudanças</button>
        <button type="reset" class="btn btn-secondary" (click)="cancel()">Cancelar</button>
      </div>
    </div>
    <!--end::Header-->
    <!--begin::Form-->
    <div class="form" [formGroup]="createForm">
      <!--begin::Body-->
      <div class="card-body">
        <div class="row">
          <label class="col-xl-3"></label>
          <div class="col-lg-9 col-xl-6">
            <h5 class="font-weight-bold mb-6">Meus Dados</h5>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label">Nome Completo</label>
          <div class="col-lg-9 col-xl-6">
            <input class="form-control form-control-lg form-control-solid"
              type="text"
              formControlName="fullName"
              [class.is-invalid]="isControlInvalid('fullName')"
              [class.is-valid]="isControlValid('fullName')"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label">Endereço de e-mail</label>
          <div class="col-lg-9 col-xl-6">
            <div class="input-group input-group-lg input-group-solid">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-at"></i>
                </span>
              </div>
              <input type="email"
                class="form-control form-control-lg form-control-solid"
                placeholder="Email"
                formControlName="email"
                [class.is-invalid]="isControlInvalid('email')"
                [class.is-valid]="isControlValid('email')"
              />
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label">CPF</label>
          <div class="col-lg-9 col-xl-6">
            <input class="form-control form-control-lg form-control-solid"
              type="text"
              formControlName="cnpj"
              [class.is-invalid]="isControlInvalid('cnpj')"
              [class.is-valid]="isControlValid('cnpj')"
              cpf [textMask]="{mask: MASKS.cpf.textMask}"
            />
          </div>
        </div>

        <div class="row">
          <label class="col-xl-3"></label>
          <div class="col-lg-9 col-xl-6">
            <h5 class="font-weight-bold mt-10 mb-6">Informações de contato</h5>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label">Telefone</label>
          <div class="col-lg-9 col-xl-6">
            <div class="input-group input-group-lg input-group-solid">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-phone"></i>
                </span>
              </div>
              <input type="text"
                class="form-control form-control-lg form-control-solid" 
                placeholder="telefone"
                formControlName="telefone"
                [class.is-invalid]="isControlInvalid('telefone')"
                [class.is-valid]="isControlValid('telefone')"
              />
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label">Site (opcional)</label>
          <div class="col-lg-9 col-xl-6">
            <input class="form-control form-control-lg form-control-solid"
              type="text"
              formControlName="descricao"
              [class.is-invalid]="isControlInvalid('descricao')"
              [class.is-valid]="isControlValid('descricao')"
            />
          </div>
        </div>

        
      </div>
      <!--end::Body-->
    </div>
    <!--end::Form-->
  </div>
</ng-container>