<div class="container">
    <div class="mb-5 mt-3">
      <a href="#" class="btn btn-success font-weight-bold btn-pill">Adicionar</a>
    </div>
    
    <div class="mt-5" style="padding-top: 30px;">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">CNPJ</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Auto Escola Paulo</td>
            <td>00000000000000000000</td>
            <td>
              <span class="label label-inline label-light-primary font-weight-bold">
                Pendente
              </span>
            </td>
            <td>
              <a href="#" class="btn btn-danger font-weight-bold btn-pill">Editar</a>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Auto Escola João</td>
            <td>00000000000000000000</td>
            <td>
              <span class="label label-inline label-light-success font-weight-bold">
                Aprovado
              </span>
            </td>
            <td>
              <a href="#" class="btn btn-danger font-weight-bold btn-pill">Editar</a>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Auto Escola Lucas</td>
            <td>00000000000000000000</td>
            <td>
              <span class="label label-inline label-light-danger font-weight-bold">
                Em análise
              </span>
            </td>
            <td>
              <a href="#" class="btn btn-danger font-weight-bold btn-pill">Editar</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
  </div>