<ng-container *ngIf="loading;">
    <mat-progress-bar [mode]="'indeterminate'" class="mb-5"></mat-progress-bar>
</ng-container>
<div *ngIf="!loading" class="w-full max-w-3xl">
    <div class="flex items-center justify-end">
        <input #csvInput
               (change)="uploadFile($event)"
               accept=".pdf,.jpg,.jpeg"
               hidden="true"
               multiple
               onclick="this.value=null" type="file"/>
        <button
            [color]="'primary'"
            mat-flat-button>
            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
            <span (click)="csvInput.click()" class="ml-2 mr-1">Upload</span>
        </button>
    </div>
    <div class="mt-5 border-t"></div>

    <ng-container *ngIf="items && items.length; else noItems">
        <div class="p-6 md:p-8">
            <div class="flex flex-wrap -m-2">
                <ng-container *ngFor="let file of items; trackBy:trackByFn">
                    <div
                        class="flex flex-col w-40 h-40 m-2 p-4 shadow rounded-2xl cursor-pointer bg-card">
                        <div class="aspect-w-9 aspect-h-6">
                            <div class="flex items-center justify-center">
                                <!-- Icons -->
                                <ng-container [ngSwitch]="file.type">
                                    <!-- Folder -->
                                    <ng-container *ngSwitchCase="'folder'">
                                        <mat-icon
                                            [svgIcon]="'iconsmind:folder'"
                                            class="icon-size-14 text-hint"></mat-icon>
                                    </ng-container>
                                    <!-- File -->
                                    <ng-container *ngSwitchDefault>
                                        <div class="relative">
                                            <a [href]="file.destiny" [target]="'_blank'">
                                                <mat-icon
                                                    [svgIcon]="'iconsmind:file'"
                                                    class="icon-size-20 text-hint"></mat-icon>
                                                <div
                                                    [class.bg-amber-600]="file.extension === '.jpg'"
                                                    [class.bg-green-600]="file.extension === '.jpeg'"
                                                    [class.bg-red-600]="file.extension === '.pdf'"
                                                    class="absolute left-0 bottom-0 px-1.5 rounded text-sm font-semibold leading-5 text-white">
                                                    {{file.extension.toUpperCase()}}
                                                </div>
                                            </a>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                        <div class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
                            <div [matTooltip]="file.fileName" class="truncate">
                                {{file.fileName}}
                            </div>
                            <button (click)="removeFile(file)" color="warn" mat-stroked-button>Remover</button>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-container>
    <ng-template #noItems>
        <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
            <mat-icon
                [svgIcon]="'iconsmind:file_hide'"
                class="icon-size-24"></mat-icon>
            <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">There are no items!</div>
        </div>
    </ng-template>
</div>
<div class="flex items-center justify-end mt-10">
    <button
        (click)="save()"
        [color]="'primary'"
        class="ml-4"
        mat-flat-button
        type="button">Salvar
    </button>
</div>
