<div class="flex flex-col min-w-0 sm:absolute sm:inset-0 sm:overflow-hidden">

    <div class="flex flex-col flex-auto">
        <!-- Header -->
        <div
            class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between p-6 sm:py-12 md:px-8 border-b bg-card bg-transparent">
            <!-- Title -->
            <div>
                <div class="flex items-center mt-10 ml-7 font-medium text-secondary">
                    {{items.length}} arquivo(s)
                </div>
            </div>
            <!-- Actions -->
            <div class="mt-4 sm:mt-0">
                <!-- Upload button -->
                <button
                    mat-flat-button
                    [color]="'primary'">
                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                    <span class="ml-2 mr-1">Upload</span>
                </button>
            </div>
        </div>

        <ng-container *ngIf="items && items.length; else noItems">
            <div class="p-6 md:p-8">
                <div class="flex flex-wrap -m-2 mt-2">
                    <ng-container *ngFor="let file of items; trackBy:trackByFn">

                        <a
                            class="flex flex-col w-40 h-40 m-2 p-4 shadow rounded-2xl cursor-pointer bg-card" [href]="file.destiny" [target]="'_blank'">
                            <div class="aspect-w-9 aspect-h-6">
                                <div class="flex items-center justify-center">
                                    <!-- Icons -->
                                    <ng-container [ngSwitch]="file.type">
                                        <!-- Folder -->
                                        <ng-container *ngSwitchCase="'folder'">
                                            <mat-icon
                                                class="icon-size-14 text-hint"
                                                [svgIcon]="'iconsmind:folder'"></mat-icon>
                                        </ng-container>
                                        <!-- File -->
                                        <ng-container *ngSwitchDefault>
                                            <div class="relative">
                                                <mat-icon
                                                    class="icon-size-20 text-hint"
                                                    [svgIcon]="'iconsmind:file'"></mat-icon>
                                                <div
                                                    class="absolute left-0 bottom-0 px-1.5 rounded text-sm font-semibold leading-5 text-white"
                                                    [class.bg-red-600]="file.extension === '.pdf'"
                                                    [class.bg-green-600]="file.extension === '.jpeg'"
                                                    [class.bg-amber-600]="file.extension === '.pjg'">
                                                    {{file.extension.toUpperCase()}}
                                                </div>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
                                <div
                                    class="truncate"
                                    [matTooltip]="file.fileName">{{file.fileName}}</div>
                            </div>
                        </a>
                    </ng-container>
                </div>
            </div>
        </ng-container>

        <!-- Item template -->
        <ng-template #noItems>
            <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                <mat-icon
                    class="icon-size-24"
                    [svgIcon]="'iconsmind:file_hide'"></mat-icon>
                <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">There are no items!</div>
            </div>
        </ng-template>

    </div>
</div>
