<ng-container>
  <div class="card card-custom card-stretch">
    <!--begin::Header-->
    <div class="card-header py-3">
      <div class="card-title align-items-start flex-column">
        <h3 class="card-label font-weight-bolder text-dark">Informação Pessoal</h3>
        <span class="text-muted font-weight-bold font-size-sm mt-1">Altere suas informações</span>
      </div>
      <div class="card-toolbar">
        <button type="submit" class="btn btn-success mr-2" (click)="save()">Salvar mudanças</button>
        <button type="reset" class="btn btn-secondary" (click)="cancel()">Cancelar</button>
      </div>
    </div>
    <!--end::Header-->
    <!--begin::Form-->
    <div class="form" [formGroup]="createForm">
      <!--begin::Body-->
      <div class="card-body">
        <div class="row">
          <label class="col-xl-3"></label>
          <div class="col-lg-9 col-xl-6">
            <h5 class="font-weight-bold mb-6">Informações do usuário</h5>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label">Nome</label>
          <div class="col-lg-9 col-xl-6">
            <input class="form-control form-control-lg form-control-solid" type="text" formControlName="fullName" [class.is-invalid]="isControlInvalid('fullName')" [class.is-valid]="isControlValid('fullName')" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label">Senha</label>
          <div class="col-lg-9 col-xl-6">
            <input class="form-control form-control-lg form-control-solid" type="password" formControlName="senha" [ngClass]="{'is-invalid': displayMessage.senha}" [class.is-invalid]="isControlInvalid('senha')" [class.is-valid]="isControlValid('senha')" />
            <span class="text-danger" *ngIf="displayMessage.senha">
              <p [innerHTML]="displayMessage.senha"></p>
          </span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label"> Confirme a Senha</label>
          <div class="col-lg-9 col-xl-6">
            <input class="form-control form-control-lg form-control-solid" type="password" formControlName="confirmarSenha" [ngClass]="{'is-invalid': displayMessage.confirmarSenha}" [class.is-invalid]="isControlInvalid('confirmarSenha')" [class.is-valid]="isControlValid('confirmarSenha')" />
            <span class="text-danger" *ngIf="displayMessage.confirmarSenha">
              <p [innerHTML]="displayMessage.confirmarSenha"></p>
          </span>
          </div>
        </div>

        <div class="row">
          <label class="col-xl-3"></label>
          <div class="col-lg-9 col-xl-6">
            <h5 class="font-weight-bold mt-10 mb-6">Informações de contato</h5>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label">Telefone</label>
          <div class="col-lg-9 col-xl-6">
            <div class="input-group input-group-lg input-group-solid">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-phone"></i>
                </span>
              </div>
              <input type="text" class="form-control form-control-lg form-control-solid" placeholder="telefone" formControlName="telefone" [class.is-invalid]="isControlInvalid('telefone')" [class.is-valid]="isControlValid('telefone')"telefone [textMask]="{mask: MASKS.telefone.textMask}" />
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label">Endereço de e-mail</label>
          <div class="col-lg-9 col-xl-6">
            <div class="input-group input-group-lg input-group-solid">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-at"></i>
                </span>
              </div>
              <input type="email" class="form-control form-control-lg form-control-solid" placeholder="Email" formControlName="email" [class.is-invalid]="isControlInvalid('email')" [class.is-valid]="isControlValid('email')" />
            </div>
          </div>
        </div>
      </div>
      <!--end::Body-->
    </div>
    <!--end::Form-->
  </div>
</ng-container>