<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      Novo Usuário
    </div>
  </div>
  <div class="overlay overlay-block cursor-default modal-body" style="min-height: 404px">
    <ng-container>
      <form action="#" class="form form-label-right" [formGroup]="createForm">
        <div class="form-group row">
          <div class="col-lg">
            <label class="form-label">Nome Completo</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="fullName"
              placeholder="Nome Completo" autocomplete="off" formControlName="fullName" />
          </div>
        </div>
        <div class="form-group row">
          <!-- start: Email de acesso -->
          <div class="col-lg-8">
            <label class="form-label">E-mail</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="fullName"
              placeholder="e-mail" autocomplete="off" formControlName="email" />
          </div>
          <!-- end: Email de acesso -->

          <!-- start: CPF do usuário -->
          <div class="col-lg-8">
            <label class="form-label">CPF</label>
            <input type="cpf" class="form-control form-control-lg form-control-solid" name="fullName" placeholder="cpf"
              autocomplete="off" formControlName="fullName" />
          </div>

          <!-- end: CPF do usuário -->

          <!-- start: Telefone -->
          <div class="col-lg-8">
            <label class="form-label">Telefone</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="fullName"
              placeholder="telefone" autocomplete="off" formControlName="fullName" />
          </div>
          <!-- end: Telefone -->

          <!-- start: CEP -->
          <div class="col-lg-8">
            <label class="form-label">CEP</label>
            <input type="text" class="form-control form-control-solid form-control-solid" name="fullName"
              placeholder="CEP" autocomplete="off" formControlName="fullName" />
          </div>
          <!-- end: CEP -->

          <!-- start: Status -->
          <div class="col-lg-8">
            <label class="form-label">Ativo?</label>
            <input type="checkbox" class="" name="fullName" placeholder="telefone" autocomplete="off"
              formControlName="fullName" />
          </div>
          <!-- end: Status -->

          <!-- start: Cargo do usuário -->
          <p>Selecione o cargo do usuário:</p>
          <select name="status" id="status">
            <option value="cargo1">Gerente</option>
            <option value="cargo2">Desenvolvedor</option>
          </select>
        </div>
      </form>
    </ng-container>
    <!-- end: Cargo do usuário -->


    <div class="modal-footer">
      <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">
        Sair
      </button>
      <ng-container>
        <button type="submit" class="btn btn-primary btn-elevate" (click)="save()">
          Salvar
        </button>
      </ng-container>
    </div>
  </div>