<div
    #pickerPanelOrigin
    (click)="openPickerPanel()"
    class="range">

    <div class="start">
        <div class="date">{{range.startDate}}</div>
        <div
            *ngIf="range.startTime"
            class="time">{{range.startTime}}</div>
    </div>

    <div class="separator">-</div>

    <div class="end">
        <div class="date">{{range.endDate}}</div>
        <div
            *ngIf="range.endTime"
            class="time">{{range.endTime}}</div>
    </div>

</div>

<ng-template #pickerPanel>

    <!-- Start -->
    <div class="start">

        <div class="month">
            <div class="month-header">
                <button
                    (click)="prev()"
                    class="previous-button"
                    mat-icon-button
                    tabindex="1">
                    <mat-icon [svgIcon]="'heroicons_outline:chevron-left'"></mat-icon>
                </button>
                <div class="month-label">{{getMonthLabel(1)}}</div>
            </div>
            <mat-month-view
                #matMonthView1
                (click)="$event.stopImmediatePropagation()"
                (selectedChange)="onSelectedDateChange($event)"
                [(activeDate)]="activeDates.month1"
                [dateClass]="dateClass()"
                [dateFilter]="dateFilter()">
            </mat-month-view>
        </div>

        <mat-form-field
            *ngIf="timeRange"
            class="fuse-mat-no-subscript time start-time">
            <input
                (blur)="updateStartTime($event)"
                [autocomplete]="'off'"
                [formControl]="startTimeFormControl"
                matInput
                tabindex="3">
            <mat-label>Start time</mat-label>
        </mat-form-field>

    </div>

    <!-- End -->
    <div class="end">

        <div class="month">
            <div class="month-header">
                <div class="month-label">{{getMonthLabel(2)}}</div>
                <button
                    (click)="next()"
                    class="next-button"
                    mat-icon-button
                    tabindex="2">
                    <mat-icon [svgIcon]="'heroicons_outline:chevron-right'"></mat-icon>
                </button>
            </div>
            <mat-month-view
                #matMonthView2
                (click)="$event.stopImmediatePropagation()"
                (selectedChange)="onSelectedDateChange($event)"
                [(activeDate)]="activeDates.month2"
                [dateClass]="dateClass()"
                [dateFilter]="dateFilter()">
            </mat-month-view>
        </div>

        <mat-form-field
            *ngIf="timeRange"
            class="fuse-mat-no-subscript time end-time">
            <input
                (blur)="updateEndTime($event)"
                [formControl]="endTimeFormControl"
                matInput
                tabindex="4">
            <mat-label>End time</mat-label>
        </mat-form-field>

    </div>

</ng-template>
