<ng-container *ngIf="loading;">
    <mat-progress-bar class="mb-5" [mode]="'indeterminate'"></mat-progress-bar>
</ng-container>
<div mat-dialog-content>
    <fuse-card class="flex-col p-6 sm:py-12 sm:px-10 border-2 border-gray-100">

        <ng-container *ngIf="!userEdit; else editMode">
            <div class="text-3xl font-bold tracking-tight leading-tight">Novo Usuário</div>
            <div class="mt-2 text-md font-medium tracking-tight text-secondary">Você está cadastrando um novo usuário
                do tipo Edriving
            </div>
        </ng-container>
        <ng-template #editMode>
            <div class="text-3xl font-bold tracking-tight leading-tight">Dados do Usuário</div>
            <div class="mt-2 text-md font-medium tracking-tight text-secondary">Você está editando um usuário do tipo
                Edriving
            </div>
        </ng-template>
        <div class="w-15 h-0.5 mt-3 mb-3 rounded bg-accent"></div>
        <ng-container>

            <div class="flex flex-col mt-2.5">

                <form [formGroup]="accountForm">

                    <!--start: Nome-->
                    <div class="sm:col-span-4">
                        <mat-form-field class="fuse-mat-no-subscript w-full" appearance="legacy">
                            <mat-label for="name">Nome</mat-label>
                            <mat-icon
                                class="icon-size-5 mr-0.5"
                                [svgIcon]="'heroicons_solid:user'"
                                matPrefix></mat-icon>
                            <input
                                id="name"
                                matInput
                                [formControlName]="'name'">

                        </mat-form-field>
                        <mat-error *ngIf="accountForm.get('name').hasError('name')">
                            Insira um nome válido
                        </mat-error>
                    </div>
                    <!--end:Nome-->

                    <!--start: Email-->
                    <div class="sm:col-span-4 mt-2.5">
                        <mat-form-field class="fuse-mat-no-subscript w-full" appearance="legacy">
                            <mat-label for="email">Email</mat-label>
                            <mat-icon
                                class="icon-size-5 mr-0.5"
                                [svgIcon]="'heroicons_solid:mail'"
                                matPrefix></mat-icon>
                            <input
                                id="email"
                                matInput
                                [formControlName]="'email'">

                        </mat-form-field>
                        <mat-error *ngIf="accountForm.get('email').hasError('email')">
                            Insira um e-mail válido
                        </mat-error>
                    </div>
                    <!--end:Email-->

                    <!--start: CPF-->
                    <div class="sm:col-span-4 mt-2.5">
                        <mat-form-field class="fuse-mat-no-subscript w-full" appearance="legacy">
                            <mat-label for="cpf">CPF</mat-label>
                            <mat-icon
                                class="icon-size-5 mr-0.5"
                                [svgIcon]="'heroicons_solid:identification'"
                                matPrefix></mat-icon>
                            <input
                                id="cpf"
                                matInput
                                cpf [textMask]="{mask: masks.cpf.textMask}"
                                [formControlName]="'cpf'">

                        </mat-form-field>
                        <mat-error *ngIf="accountForm.get('cpf').hasError('cpf')">
                            Insira um cpf válido
                        </mat-error>
                    </div>
                    <!--end:CPF-->

                    <!--start:cargo-->
                    <mat-form-field appearance="legacy">
                        <mat-label>Perfil de Acesso</mat-label>
                        <mat-select [formControlName]="'levelId'" required>
                            <mat-option *ngFor="let item of levels" [value]="item.id">{{item.level}}</mat-option>
                        </mat-select>
                        <mat-hint align="end">Selecione</mat-hint>
                    </mat-form-field>
                    <!--end:cargo-->

                    <div class="my-5 border-t"></div>

                    <!--start:telefones-->
                    <div class="sm:col-span-4 mt-2.5">
                            <ng-container
                                *ngFor="let phoneNumber of accountForm.get('phonesNumbers')['controls']; let i = index;"
                                formArrayName="phonesNumbers">
                                <div class="relative flex">
                                    <mat-form-field class="fuse-mat-no-subscript flex-auto" appearance="legacy">
                                        <mat-label>Telefone</mat-label>
                                        <input
                                            matInput
                                            phoneNumber [textMask]="{mask: masks.telefone.textMaskFunction}"
                                            [placeholder]="'phoneNumber'"
                                            [formControl]="phoneNumber.get('phoneNumber')"
                                            [value]="phoneNumber.value.phoneNumber ?? ''">
                                    </mat-form-field>
                                    <!-- Remove phone number -->
                                    <ng-container>
                                        <div
                                            class="flex items-center w-10 pl-2">
                                            <button
                                                class="w-8 h-8 min-h-8"
                                                mat-icon-button
                                                (click)="removePhoneNumber(phoneNumber.value.id ?? 0,i)"
                                                matTooltip="Remove">
                                                <mat-icon
                                                    class="icon-size-5 text-red-500"
                                                    [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                            </button>
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-container>
                        <!--end:telefones-->
                        <div
                            class="group inline-flex items-center mt-2 -ml-4 py-2 px-4 rounded cursor-pointer"
                            (click)="addPhoneNumberField()">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                            <span
                                class="ml-2 font-medium text-secondary group-hover:underline">Inserir novo contato</span>
                        </div>
                    </div>
                    <!--end:telefones-->

                </form>
            </div>
            <!-- start:Submit -->
            <button
                class="ml-1 items-center"
                [disabled]="accountForm.invalid || accountForm.disabled"
                class="fuse-mat-button-large mt-10"
                mat-stroked-button
                (click)="submit()"
                [color]="'primary'">
                Salvar
            </button>
            <!-- end:Submit -->
        </ng-container>
    </fuse-card>

</div>
<div mat-dialog-actions class="mt-5">
    <button mat-button mat-dialog-close (click)="onNoClick()">Cancelar</button>
</div>

