<ng-container *ngIf="loading;">
    <mat-progress-bar class="mb-5" [mode]="'indeterminate'"></mat-progress-bar>
</ng-container>
<div mat-dialog-content>
    <fuse-card class="flex-col w-full max-w-300 p-6 sm:py-12 sm:px-10 filter-pricing border-2 border-gray-100">
        <ng-container *ngIf="!userEdit; else editMode">
            <div class="text-3xl font-bold tracking-tight leading-tight">Novo Usuário</div>
            <div class="mt-2 text-md font-medium tracking-tight text-secondary">Vocês está cadastrando um novo parceiro
                da Plataforma
            </div>
        </ng-container>
        <ng-template #editMode>
            <div class="text-3xl font-bold tracking-tight leading-tight">Editar Usuário</div>
            <div class="mt-2 text-md font-medium tracking-tight text-secondary">Vocês está editando um parceiro da
                Plataforma
            </div>
        </ng-template>
        <!-- Divider -->
        <div class="w-15 h-0.5 mt-3 mb-3 rounded bg-accent"></div>
        <ng-container>

            <div class="flex flex-col mt-2.5">

                <form [formGroup]="accountForm">

                    <!--start: Nome-->
                    <div class="sm:col-span-4">
                        <mat-form-field class="fuse-mat-no-subscript w-full" appearance="legacy">
                            <mat-label for="name">Nome</mat-label>
                            <mat-icon
                                class="icon-size-5 mr-0.5"
                                [svgIcon]="'heroicons_solid:user'"
                                matPrefix></mat-icon>
                            <input
                                id="name"
                                matInput
                                [formControlName]="'name'">

                        </mat-form-field>
                        <mat-error *ngIf="accountForm.get('name').hasError('name')">
                            Insira um nome válido
                        </mat-error>
                    </div>
                    <!--end:Nome-->

                    <!--start: Email-->
                    <div class="sm:col-span-4 mt-2.5">
                        <mat-form-field class="fuse-mat-no-subscript w-full" appearance="legacy">
                            <mat-label for="nome">Email</mat-label>
                            <mat-icon
                                class="icon-size-5 mr-0.5"
                                [svgIcon]="'heroicons_solid:mail'"
                                matPrefix></mat-icon>
                            <input
                                id="email"
                                matInput
                                [formControlName]="'email'">

                        </mat-form-field>
                        <mat-error *ngIf="accountForm.get('email').hasError('email')">
                            Insira um e-mail válido
                        </mat-error>
                    </div>
                    <!--end:Email-->

                    <!--start: cnpj-->
                    <div class="sm:col-span-4 mt-2.5">
                        <mat-form-field class="fuse-mat-no-subscript w-full" appearance="legacy">
                            <mat-label for="cnpj">CNPJ</mat-label>
                            <mat-icon
                                class="icon-size-5 mr-0.5"
                                [svgIcon]="'heroicons_solid:identification'"
                                matPrefix></mat-icon>
                            <input
                                id="cnpj"
                                matInput
                                [formControlName]="'cnpj'">

                        </mat-form-field>
                        <mat-error *ngIf="accountForm.get('cnpj').hasError('cnpj')">
                            Insira um cnpj válido
                        </mat-error>
                    </div>
                    <!--end:cnpj-->
                    <!--start: cargo-->
                    <mat-form-field appearance="legacy">
                        <mat-label>Cargo</mat-label>
                        <mat-select [(value)]="selectedLevel" required (valueChange)="onSelectCargoChange($event)">
                            <mat-option *ngFor="let item of levels" value="{{item.id}}">{{item.level}}</mat-option>
                        </mat-select>
                        <mat-hint align="end">Selecione o cargo</mat-hint>
                    </mat-form-field>
                    <!--end: cargo-->


                    <!--start:Descrição-->
                        <mat-form-field class="fuse-mat-no-subscript w-full" appearance="legacy">
                            <mat-label for="description">Descrição</mat-label>
                            <mat-icon
                                class="icon-size-5 mr-0.5"
                                [svgIcon]="'heroicons_solid:annotation'"
                                matPrefix></mat-icon>
                            <input
                                id="description"
                                matInput
                                [formControlName]="'description'">

                        </mat-form-field>
                        <mat-error *ngIf="accountForm.get('description').hasError('description')">
                            Insira uma descrição válida
                        </mat-error>
                    <!--end:Descrição-->

                    <div class="my-5 border-t"></div>
                    <!--start: CEP-->
                    <div class="sm:col-span-4 mt-2.5">
                        <mat-form-field class="fuse-mat-no-subscript w-full" appearance="legacy">
                            <mat-label for="cep">CEP</mat-label>
                            <mat-icon
                                class="icon-size-5 mr-0.5"
                                [svgIcon]="'heroicons_solid:hashtag'"
                                matPrefix></mat-icon>
                            <input
                                id="cep"
                                (blur)="buscaCep($event.target)"
                                matInput
                                [formControlName]="'cep'">
                                [formControlName]="'cep'">

                        </mat-form-field>
                        <mat-error *ngIf="accountForm.get('cep').hasError('cep')">
                            Insira um cep válido
                        </mat-error>
                    </div>
                    <!--end:CPF-->
                    <!--start: enderecoLogradouro-->
                    <div class="sm:col-span-4 mt-2.5">
                        <mat-form-field class="fuse-mat-no-subscript w-full" appearance="legacy">
                            <mat-label for="address">Endereço</mat-label>
                            <mat-icon
                                class="icon-size-5 mr-0.5"
                                [svgIcon]="'heroicons_solid:location-marker'"
                                matPrefix></mat-icon>
                            <input
                                id="address"
                                matInput
                                [formControlName]="'address'">

                        </mat-form-field>
                        <mat-error *ngIf="accountForm.get('address').hasError('address')">
                            Insira um endereço válido
                        </mat-error>
                    </div>
                    <!--end:enderecoLogradouro-->
                    <!--start: bairro-->
                    <div class="sm:col-span-4 mt-2.5">
                        <mat-form-field class="fuse-mat-no-subscript w-full" appearance="legacy">
                            <mat-label for="district">Bairro</mat-label>
                            <mat-icon
                                class="icon-size-5 mr-0.5"
                                [svgIcon]="'heroicons_solid:home'"
                                matPrefix></mat-icon>
                            <input
                                id="district"
                                matInput
                                [formControlName]="'district'">

                        </mat-form-field>
                        <mat-error *ngIf="accountForm.get('district').hasError('district')">
                            Insira um bairro válido
                        </mat-error>
                    </div>
                    <!--end:bairro-->
                    <!--start: estado-->
                    <div class="sm:col-span-4 mt-2.5">
                        <mat-form-field class="fuse-mat-no-subscript w-full" appearance="legacy">
                            <mat-label for="uf">Estado</mat-label>
                            <mat-icon
                                class="icon-size-5 mr-0.5"
                                [svgIcon]="'heroicons_solid:location-marker'"
                                matPrefix></mat-icon>
                            <mat-select [formControlName]="'uf'">
                                <mat-option *ngFor="let item of states" [value]="item">{{item}}</mat-option>
                            </mat-select>

                        </mat-form-field>
                        <mat-error *ngIf="accountForm.get('uf').hasError('uf')">
                            Insira um cidade válido
                        </mat-error>
                    </div>
                    <!--end:cidade-->
                    <!--start: cidade-->
                    <div class="sm:col-span-4 mt-2.5">
                        <mat-form-field class="fuse-mat-no-subscript w-full" appearance="legacy">
                            <mat-label for="city">Cidade</mat-label>
                            <mat-icon
                                class="icon-size-5 mr-0.5"
                                [svgIcon]="'heroicons_solid:map'"
                                matPrefix></mat-icon>
                            <input
                                id="city"
                                matInput
                                [formControlName]="'city'">

                        </mat-form-field>
                        <mat-error *ngIf="accountForm.get('city').hasError('city')">
                            Insira um cidade válido
                        </mat-error>
                    </div>
                    <!--end:cidade-->
                    <!--start: numero-->
                    <div class="sm:col-span-4 mt-2.5">
                        <mat-form-field class="fuse-mat-no-subscript w-full" appearance="legacy">
                            <mat-label for="addressNumber">Número</mat-label>
                            <mat-icon
                                class="icon-size-5 mr-0.5"
                                [svgIcon]="'heroicons_solid:annotation'"
                                matPrefix></mat-icon>
                            <input
                                id="addressNumber"
                                matInput
                                [formControlName]="'addressNumber'">

                        </mat-form-field>
                        <mat-error *ngIf="accountForm.get('addressNumber').hasError('addressNumber')">
                            Insira um numero válido
                        </mat-error>
                    </div>
                    <!--end:numero-->

                    <div class="my-5 border-t"></div>
                    <!--start:telefones-->
                    <div class="sm:col-span-4 mt-2.5">
                        <div class="space-y-4">
                            <ng-container
                                *ngFor="let phoneNumber of accountForm.get('phonesNumbers')['controls']; let i = index;"
                                formArrayName="phonesNumbers">
                                <div class="relative flex">
                                    <mat-form-field class="fuse-mat-no-subscript flex-auto">
                                        <mat-label>Telefone</mat-label>
                                        <input
                                            matInput
                                            [placeholder]="'phoneNumber'"
                                            [formControl]="phoneNumber.get('phoneNumber')"
                                            [value]="phoneNumber.value.phoneNumber ?? ''">
                                    </mat-form-field>
                                    <!-- Remove phone number -->
                                    <ng-container>
                                        <div
                                            class="flex items-center w-10 pl-2"
                                            [ngClass]="'mt-6'">
                                            <button
                                                class="w-8 h-8 min-h-8"
                                                mat-icon-button
                                                (click)="removePhoneNumber(phoneNumber.value.id ?? 0,i)"
                                                matTooltip="Remove">
                                                <mat-icon
                                                    class="icon-size-5"
                                                    [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                            </button>
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </div>
                        <!--end:telefones-->
                        <div
                            class="group inline-flex items-center mt-2 -ml-4 py-2 px-4 rounded cursor-pointer"
                            (click)="addPhoneNumberField()">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                            <span
                                class="ml-2 font-medium text-secondary group-hover:underline">Inserir novo contato</span>
                        </div>
                    </div>
                    <!--end:telefones-->

                </form>
            </div>
            <!-- CTA -->
            <button
                class="ml-1 items-center"
                [disabled]="accountForm.invalid || accountForm.disabled"
                class="fuse-mat-button-large mt-10"
                mat-stroked-button
                (click)="submit()"
                [color]="'primary'">
                Salvar
            </button>
        </ng-container>
    </fuse-card>

</div>
<div mat-dialog-actions class="mt-5">
    <button mat-button mat-dialog-close (click)="onNoClick()">Cancelar</button>
</div>

