<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->
        <div class="h-400 min-h-400 max-h-400">

            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
                <!--start:Cards-->
                <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">Summary</div>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500">21</div>
                        <div class="text-lg font-medium text-blue-600 dark:text-blue-500">Due Tasks</div>
                        <div class="flex items-center justify-center w-full mt-5 text-secondary">
                            <div class="text-md font-medium truncate">Completed:</div>
                            <div class="ml-1.5 text-lg font-semibold">13</div>
                        </div>
                    </div>
                </div>
                <!-- Overdue -->
                <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">Overdue</div>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-red-500">17</div>
                        <div class="text-lg font-medium text-red-600 dark:text-red-500">Tasks</div>
                        <div class="flex items-center justify-center w-full mt-5 text-secondary">
                            <div class="text-md font-medium truncate">From yesterday:</div>
                            <div class="ml-1.5 text-lg font-semibold">9</div>
                        </div>
                    </div>
                </div>
                <!-- Issues -->
                <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">Issues</div>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-amber-500">24</div>
                        <div class="text-lg font-medium text-amber-600 dark:text-amber-500">Open</div>
                        <div class="flex items-center justify-center w-full mt-5 text-secondary">
                            <div class="text-md font-medium truncate">Closed today:</div>
                            <div class="ml-1.5 text-lg font-semibold">19</div>
                        </div>
                    </div>
                </div>
                <!-- Features -->
                <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">Features</div>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-green-500">38</div>
                        <div class="text-lg font-medium text-green-600 dark:text-green-500">Proposals</div>
                        <div class="flex items-center justify-center w-full mt-5 text-secondary">
                            <div class="text-md font-medium truncate">Implemented:</div>
                            <div class="ml-1.5 text-lg font-semibold">16</div>
                        </div>
                    </div>
                </div>
                <!--end:Cards-->

            </div>
            <div class="mt-5 mb-10 border-t w-full"></div>


        </div>

    </div>

</div>
