<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <ng-container class="flex flex-col flex-auto min-w-0" *ngIf="loading;">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </ng-container>

    <!-- Main -->
    <div class="flex-auto -mt-16 p-6 sm:p-10 rounded-t-2xl shadow overflow-y-auto bg-card"
         cdkScrollable>

        <!-- CONTENT GOES HERE -->
        <div class="h-400 min-h-400 max-h-400">

            <div class="flex flex-col flex-auto min-w-0" *ngIf="!loading || saving">
                <div
                    class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
                    <!-- Title -->
                    <div class="text-4xl font-extrabold tracking-tight">Auto Escola</div>
                    <!-- Actions -->
                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                        <!-- Add product button -->
                        <button
                            (click)="goBack()"
                            class="ml-1 items-center"
                            mat-flat-button
                            [color]="'primary'">
                            <mat-icon [svgIcon]="'heroicons_outline:arrow-left'"></mat-icon>
                            <span class="ml-1 mr-1">Voltar</span>
                        </button>
                    </div>
                </div>
                <div class="flex-auto p-6 sm:p-5">
                    <div class="mb-8 text-2xl font-bold" *ngIf="id; else inserir">Editar</div>
                    <ng-template #inserir>
                        <div class="mb-8 text-2xl font-bold">Adicionar</div>
                    </ng-template>

                    <ng-container>

                        <mat-vertical-stepper [linear]="true">

                            <!--start:Step-DadosEmpresa-->
                            <mat-step [stepControl]="accountForm" #step1>
                                <form [formGroup]="accountForm">
                                    <ng-template matStepLabel>Informações Básicas</ng-template>
                                    <p class="my-6 font-medium">
                                        Pode ser inserido algum texto aqui
                                    </p>

                                    <!--start:corporateName-->
                                    <div class="flex mt-2">
                                        <mat-form-field class="flex-auto">
                                            <input
                                                matInput
                                                [formControlName]="'corporateName'"
                                                [placeholder]="'Razão Social'"
                                                required>
                                            <mat-icon
                                                class="icon-size-5"
                                                matPrefix
                                                [svgIcon]="'heroicons_solid:office-building'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <!--end:corporateName-->

                                    <div class="flex flex-col gt-xs:flex-row">
                                        <!--start:fantasyName-->
                                        <mat-form-field class="flex-auto gt-xs:pr-3">
                                            <input
                                                matInput
                                                [formControlName]="'fantasyName'"
                                                [placeholder]="'Nome Fantasia'"
                                                required>
                                            <mat-icon
                                                class="icon-size-5"
                                                matPrefix
                                                [svgIcon]="'heroicons_solid:user'"></mat-icon>
                                        </mat-form-field>
                                        <!--end:fantasyName-->

                                        <!--start:cnpj-->
                                        <mat-form-field class="flex-auto gt-xs:pl-3">
                                            <input
                                                matInput
                                                [formControlName]="'cnpj'"
                                                cnpj [textMask]="{mask: masks.cnpj.textMask}"
                                                [placeholder]="'CNPJ'"
                                                required>
                                            <mat-icon
                                                class="icon-size-5"
                                                matPrefix
                                                [svgIcon]="'heroicons_solid:identification'"></mat-icon>
                                        </mat-form-field>
                                        <!--end:cnpj-->

                                        <!--start:stateRegistration-->
                                        <mat-form-field class="flex-auto gt-xs:pl-3">
                                            <input
                                                matInput
                                                [formControlName]="'stateRegistration'"
                                                [placeholder]="'Inscrição Estadual'"
                                                required>
                                            <mat-icon
                                                class="icon-size-5"
                                                matPrefix
                                                [svgIcon]="'heroicons_solid:identification'"></mat-icon>
                                        </mat-form-field>
                                        <!--end:stateRegistration-->

                                        <!--start:foundingDate-->
                                        <mat-form-field class="flex-auto gt-xs:pl-3">
                                            <mat-label>Data de Abertura</mat-label>
                                            <input matInput type="date" [formControlName]="'foundingDate'"
                                                   [max]="'2021-01-31'">
                                            <mat-icon
                                                class="icon-size-5"
                                                matPrefix
                                                [svgIcon]="'heroicons_solid:calendar'"></mat-icon>
                                        </mat-form-field>
                                        <!--end:foundingDate-->

                                        <!--start:email-->
                                        <mat-form-field class="flex-auto gt-xs:pl-3">
                                            <input
                                                matInput
                                                [formControlName]="'email'"
                                                [placeholder]="'e-mail'"
                                                required>
                                            <mat-icon
                                                class="icon-size-5"
                                                matPrefix
                                                [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                                        </mat-form-field>
                                        <!--end:email-->

                                        <!--start:description-->
                                        <mat-form-field class="flex-auto gt-xs:pl-3">
                                            <input
                                                matInput
                                                [formControlName]="'description'"
                                                [placeholder]="'Descrição'"
                                                required>
                                            <mat-icon
                                                class="icon-size-5"
                                                matPrefix
                                                [svgIcon]="'heroicons_solid:annotation'"></mat-icon>
                                        </mat-form-field>
                                        <!--end:description-->

                                        <!--start:site-->
                                        <mat-form-field class="flex-auto gt-xs:pl-3">
                                            <input
                                                matInput
                                                [formControlName]="'site'"
                                                [placeholder]="'site'"
                                                required>
                                            <mat-icon
                                                class="icon-size-5"
                                                matPrefix
                                                [svgIcon]="'heroicons_solid:globe-alt'"></mat-icon>
                                        </mat-form-field>
                                        <!--end:site-->

                                    </div>
                                    <div class="flex justify-end">
                                        <button
                                            class="px-8"
                                            mat-flat-button
                                            [color]="'primary'"
                                            [disabled]="accountForm.invalid"
                                            type="button"
                                            matStepperNext>
                                            Avançar
                                        </button>
                                    </div>
                                </form>
                            </mat-step>
                            <!--end:Step-DadosEmpresa-->

                            <!--start:Step-Endereco-->
                            <mat-step [stepControl]="addressForm" #step2>

                                <form [formGroup]="addressForm">
                                    <ng-template matStepLabel>Endereço</ng-template>
                                    <p class="my-6 font-medium">
                                        Pode ser inserido algum texto aqui
                                    </p>
                                    <div class="flex flex-col gt-xs:flex-row mt-2">
                                        <mat-form-field class="flex-auto gt-xs:pr-3">
                                            <input
                                                matInput
                                                [formControlName]="'cep'"
                                                [placeholder]="'Cep'"
                                                (blur)="buscaCep($event.target)"
                                                cep [textMask]="{mask: masks.cep.textMask}"
                                                required>
                                            <mat-icon
                                                class="icon-size-5"
                                                matPrefix
                                                [svgIcon]="'heroicons_solid:hashtag'"></mat-icon>
                                        </mat-form-field>
                                        <mat-form-field class="flex-auto gt-xs:pl-3">
                                            <input
                                                matInput
                                                [formControlName]="'address'"
                                                [placeholder]="'Endereço'"
                                                required>
                                            <mat-icon
                                                class="icon-size-5"
                                                matPrefix
                                                [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex">
                                        <mat-form-field class="flex-auto">
                                            <input
                                                matInput
                                                [formControlName]="'district'"
                                                [placeholder]="'Bairro'"
                                                required>
                                            <mat-icon
                                                class="icon-size-5"
                                                matPrefix
                                                [svgIcon]="'heroicons_solid:home'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex">
                                        <mat-form-field class="fuse-mat-textarea flex-auto">
                                            <input
                                                matInput
                                                [formControlName]="'addressNumber'"
                                                [placeholder]="'Número'"
                                                required>
                                            <mat-icon
                                                class="icon-size-5"
                                                matPrefix
                                                [svgIcon]="'heroicons_solid:annotation'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex">
                                        <mat-form-field class="fuse-mat-textarea flex-auto">
                                            <mat-label>UF</mat-label>
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:location-marker'"
                                                matPrefix></mat-icon>
                                            <mat-select [formControlName]="'uf'">
                                                <mat-option *ngFor="let item of states"
                                                            [value]="item">{{item}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex">
                                        <mat-form-field class="fuse-mat-textarea flex-auto">
                                            <input
                                                matInput
                                                [formControlName]="'city'"
                                                [placeholder]="'Cidade'"
                                                required>
                                            <mat-icon
                                                class="icon-size-5"
                                                matPrefix
                                                [svgIcon]="'heroicons_solid:map'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex">
                                        <mat-form-field class="fuse-mat-textarea flex-auto">
                                            <input
                                                matInput
                                                [formControlName]="'complement'"
                                                [placeholder]="'Complemento'">
                                            <mat-icon
                                                class="icon-size-5"
                                                matPrefix
                                                [svgIcon]="'heroicons_solid:map'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex justify-end">
                                        <button
                                            class="px-8 mr-2"
                                            mat-flat-button
                                            [color]="'accent'"
                                            type="button"
                                            matStepperPrevious>
                                            Voltar
                                        </button>
                                        <button
                                            class="px-8"
                                            mat-flat-button
                                            [color]="'primary'"
                                            [disabled]="addressForm.invalid"
                                            type="button"
                                            matStepperNext>
                                            Avançar
                                        </button>
                                    </div>
                                </form>
                            </mat-step>
                            <!--end:Step-Endereco-->

                            <!--start:Step-Telefone-->
                            <mat-step [stepControl]="contactForm" #step3>

                                <form [formGroup]="contactForm">

                                    <ng-template matStepLabel>Contatos</ng-template>
                                    <p class="my-6 font-medium">
                                        Pode ser inserido algum texto aqui
                                    </p>
                                    <div class="flex flex-col gt-sm:flex-row">
                                        <div class="flex flex-col">
                                            <ng-container
                                                *ngFor="let item of contactForm.get('phonesNumbers')['controls']; let i = index;"
                                                formArrayName="phonesNumbers">
                                                <div class="relative flex w-1/2">
                                                    <mat-form-field class="fuse-mat-no-subscript flex-auto">
                                                        <mat-label>Telefone</mat-label>
                                                        <input
                                                            matInput
                                                            [placeholder]="'Telefone'"
                                                            telefone
                                                            [textMask]="{mask: masks.telefone.textMaskFunction}"
                                                            [formControl]="item.get('phoneNumber')"
                                                            [value]="item.value.phoneNumber ?? ''">
                                                    </mat-form-field>
                                                    <!-- Remove phone number -->
                                                    <ng-container>
                                                        <div
                                                            class="flex items-center w-10 mt-5 ml-2">
                                                            <button
                                                                class="w-8 h-8 min-h-8"
                                                                mat-icon-button
                                                                (click)="removePhoneNumber(item.value.id ?? 0,i)"
                                                                matTooltip="Remove">
                                                                <mat-icon
                                                                    class="icon-size-5 text-red-500"
                                                                    [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                                            </button>
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </ng-container>
                                        </div>
                                        <div
                                            class="group inline-flex items-center mt-2 py-2 rounded cursor-pointer w-1/2"
                                            (click)="addPhoneNumberField()">
                                            <mat-icon
                                                class="icon-size-5 text-green-500"
                                                [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                                            <span
                                                class="ml-2 font-medium text-secondary group-hover:underline">Inserir novo contato</span>
                                        </div>

                                    </div>
                                    <div class="flex flex-col mt-8 gt-sm:mt-0 gt-sm:ml-16">
                                        <span class="font-medium mb-2">Pode ser inserido algo aqui</span>
                                    </div>
                                    <div class="flex justify-end mt-8">
                                        <button
                                            class="px-8 mr-2"
                                            mat-flat-button
                                            [color]="'accent'"
                                            type="button"
                                            matStepperPrevious>
                                            Voltar
                                        </button>
                                        <button
                                            class="px-8"
                                            mat-flat-button
                                            [disabled]="contactForm.invalid"
                                            [color]="'primary'"
                                            type="button"
                                            matStepperNext>
                                            Avançar
                                        </button>
                                    </div>
                                </form>
                            </mat-step>
                            <!--end:Step-Telefone-->

                            <!--start:Step-Contratos-->
                            <mat-step [stepControl]="filesForm" #step4>

                                <form [formGroup]="filesForm">

                                    <ng-template matStepLabel>Documentos</ng-template>
                                    <ng-container *ngIf="loadingForm;">
                                        <mat-progress-bar class="mb-5" [mode]="'indeterminate'"></mat-progress-bar>
                                    </ng-container>
                                    <!--start:EditMode-->
                                    <div class="my-6 font-medium" *ngIf="fileArray.length">
                                        <div class="flex flex-wrap">
                                            <ng-container *ngFor="let item of fileArray;let i = index;">
                                                <div
                                                    class="ml-2.5 text-center justify-center m-4 p-4 min-w-36 max-w-36 min-h-30 max-h-30 rounded border-2 bg-card ng-star-inserted">
                                                    <mat-icon class="sm:icon-size-5 md:icon-size-10"
                                                              svgIcon="iconsmind:file_trash"></mat-icon>
                                                    <button
                                                        class="w-8 h-8 min-h-8 ml-1.5"
                                                        mat-icon-button
                                                        (click)="removeFileFieldFromApi(item.id ?? 0,i)"
                                                        matTooltip="Remove">
                                                        <mat-icon
                                                            class="icon-size-25 text-red-500"
                                                            [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                                    </button>
                                                    <a href="{{item.destiny}}" target="_blank">
                                                        <div
                                                            class="text-sm text-center break-all text-secondary w-30 mt-1.5">
                                                            {{item.fileName}}
                                                        </div>
                                                    </a>
                                                </div>
                                            </ng-container>
                                        </div>
                                        <!--end:EditMode-->
                                    </div>
                                    <div class="flex flex-col gt-sm:flex-row mt-5">
                                        <div class="flex flex-col">
                                            <ng-container
                                                *ngFor="let file of filesForm.get('files')['controls']; let i = index;"
                                                formArrayName="files">
                                                <div class="relative flex">
                                                    <input
                                                        type="file"
                                                        multiple
                                                        accept=".pdf"
                                                        (change)="onPutFile($event)"
                                                        [placeholder]="'arquivos'"
                                                        [formControl]="file.get('file')">
                                                    <!-- Remove phone number -->
                                                    <ng-container>
                                                        <div
                                                            class="flex items-center ml-2">
                                                            <button
                                                                class="w-8 h-8 min-h-8"
                                                                mat-icon-button
                                                                (click)="removeFileField(file.value.id ?? 0,i)"
                                                                matTooltip="Remove">
                                                                <mat-icon
                                                                    class="icon-size-5 text-red-500"
                                                                    [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                                            </button>
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </ng-container>
                                        </div>
                                        <!--end:arquivos-->
                                        <div
                                            class="group inline-flex items-center mt-2 py-2 rounded cursor-pointer"
                                            (click)="addFileField()">
                                            <mat-icon
                                                class="icon-size-5 text-green-500"
                                                [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                                            <span
                                                class="ml-2 font-medium text-secondary group-hover:underline">Adicionar arquivo</span>
                                        </div>

                                    </div>
                                    <div class="flex justify-end mt-8">
                                        <button
                                            class="px-8 mr-2"
                                            mat-flat-button
                                            [color]="'accent'"
                                            type="button"
                                            matStepperPrevious>
                                            Voltar
                                        </button>
                                        <button
                                            class="px-8"
                                            mat-flat-button
                                            [disabled]="filesForm.invalid"
                                            [color]="'primary'"
                                            (click)="setPersonalData()"
                                            type="button"
                                            matStepperNext>
                                            Avançar
                                        </button>
                                    </div>
                                </form>
                            </mat-step>
                            <!--end:Step-Contratos-->

                            <!--start:Step-Resumo-->
                            <mat-step>
                                <ng-template matStepLabel>Resumo</ng-template>

                                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-8">

                                    <div class="flex flex-col h-auto w-full max-w-300 overflow-hidden">
                                        <div class="text-2xl font-semibold leading-tight">Informações Básicas</div>
                                        <div class="mt-4  justify-center ql-align-center justify-items-center">
                                            <ul>
                                                <li class="mt-3"><b>Razão Social: </b>{{accountForm.value.corporateName}}</li>
                                                <li class="mt-3"><b>Nome Fantasia: </b>{{accountForm.value.fantasyName}}</li>
                                                <li class="mt-3"><b>Inscrição
                                                    Estadual: </b>{{accountForm.value.stateRegistration}}</li>
                                                <li class="mt-3"><b>Email: </b>{{accountForm.value.email}}</li>
                                                <li class="mt-3"><b>Site: </b> {{accountForm.value.site}}</li>
                                                <li class="mt-3"><b>CNPJ: </b>{{accountForm.value.cnpj}}</li>
                                                <li class="mt-3"><b>Descrição: </b>{{accountForm.value.description}}</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div
                                        class="flex flex-col h-auto max-w-120 w-full overflow-hidden sm:border-0 md:border-l-2">
                                        <div class="text-2xl font-semibold leading-tight md:ml-3">Endereço</div>
                                        <div class="mt-4 md:ml-3">
                                            <ul>
                                                <li class="mt-1"><b>Endereço: </b>{{addressForm.value.address}}</li>
                                                <li class="mt-1"><b>Bairro: </b>{{addressForm.value.district}}</li>
                                                <li class="mt-1"><b>Cidade: </b>{{addressForm.value.city}}</li>
                                                <li class="mt-1"><b>Cep: </b>{{addressForm.value.cep}}</li>
                                                <li class="mt-1"><b>UF: </b> {{addressForm.value.uf}}</li>
                                                <li class="mt-1"><b>N°: </b>{{addressForm.value.addressNumber}}</li>
                                                <li class="mt-1"><b>Complemento: </b>{{addressForm.value.complement}}</li>
                                            </ul>
                                        </div>
                                        <div class="flex flex-col h-auto max-w-120 w-full overflow-hidden mt-5">
                                            <div class="text-2xl font-semibold leading-tight ml-2">Contato</div>
                                            <div class="mt-4 ml-2">
                                                <ul *ngFor="let item of  drivinSchoolModel.phonesNumbers">
                                                    <li class="mt-1"><b>Telefone: </b>{{item.phoneNumber}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="text-2xl font-semibold leading-tight ml-2 mt-5">Anexos</div>
                                        <div class="mt-4 ml-2">
                                            <ul *ngFor="let item of drivinSchoolModel.files">
                                                <li class="mt-1"><b>Doc: </b>{{item.fileName}}</li>
                                            </ul>
                                            <ul *ngFor="let item of filesUpdate">
                                                <li class="mt-1"><b>Doc: </b>{{item.fileName}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="w-auto h-0.5 mt-3 mb-3 rounded bg-accent-300"></div>

                                <div class="flex justify-end mt-3">
                                    <button
                                        class="px-8 mr-2"
                                        mat-flat-button
                                        [color]="'accent'"
                                        type="button"
                                        matStepperPrevious>
                                        Voltar
                                    </button>
                                    <button
                                        class="px-8"
                                        mat-flat-button
                                        [color]="'primary'"
                                        [disabled]="loading"
                                        type="reset"
                                        (click)="submit();">
                                        Salvar
                                    </button>
                                </div>
                            </mat-step>
                            <!--end:Step-Resumo-->


                        </mat-vertical-stepper>
                    </ng-container>
                </div>

            </div>
        </div>

    </div>

</div>
