<div class="text-center text-lg" mat-dialog-title>{{data.title}}</div>
<div class="text-center" mat-dialog-content>
    <p *ngIf="data.content">{{data.content}}</p>
</div>
<div mat-dialog-actions>
    <!--renderiza apenas um botão-->
    <ng-container *ngIf="data.oneButton === true; else twoButtons">
        <button
            [color]="'primary'"
            [mat-dialog-close]="true"
            cdkFocusInitial
            class="ml-1 items-center fuse-mat-button-large w-full"
            mat-button>
            Ok
        </button>
    </ng-container>
    <ng-template #twoButtons>
        <div class="grid grid justify-center gap-4">
            <div class="col-start-3 ">
                <div>
                    <button (click)="onNoClick()" color="warn" mat-button>Cancelar</button>
                    <button [mat-dialog-close]="true" cdkFocusInitial color="primary" mat-button>OK</button>
                </div>
            </div>
        </div>
        <div class="flex flex-row justify-between">
            <div>

            </div>
        </div>
    </ng-template>
</div>
