<div class="w-full max-w-3xl">

    <!-- Form -->
    <form [formGroup]="addressForm">

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Endereço</div>
            <div class="text-secondary">Mantenha seu endereço atualizado</div>
        </div>

        <!-- Divider -->
        <div class="mt-5 mb-10 border-t"></div>

        <!-- Section -->
        <div class="grid grid-cols-4 gap-6 w-full mt-8">
            <!--start:cep-->
            <div class="col-span-2 sm:col-span-1">
                <mat-form-field
                    class="fuse-mat-no-subscript w-full"
                    [floatLabel]="'always'">
                    <mat-label>CEP</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:hashtag'"
                        matPrefix></mat-icon>
                    <input
                        (blur)="buscaCep($event.target)"
                        cep [textMask]="{mask: masks.cep.textMask}"
                        [formControlName]="'cep'"
                        matInput>
                </mat-form-field>
            </div>
            <!--end:cep-->
            <!-- start:enderecoLogradouro -->
            <div class="col-span-4 sm:col-span-3">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Endereço</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:location-marker'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'enderecoLogradouro'"
                        matInput>
                </mat-form-field>
            </div>
            <!--end:enderecoLogradouro-->
            <!--start:bairro-->
            <div class="col-span-4 sm:col-span-3">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Bairro</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:home'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'bairro'"
                        matInput>
                </mat-form-field>
            </div>
            <!--end:bairro-->
            <!--start:numero-->
            <div class="col-span-2 sm:col-span-1">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Número</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:annotation'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'numero'"
                        matInput>
                </mat-form-field>
            </div>
            <!--end:numero-->
            <!--start:uf-->
            <div class="col-span-4 sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>UF</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:location-marker'"
                        matPrefix></mat-icon>
                    <mat-select [formControlName]="'uf'">
                        <mat-option *ngFor="let item of estados" [value]="item">{{item}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!--end:uf-->
            <!--start:cidade-->
            <div class="col-span-4 sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Cidade</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:map'"
                        matPrefix></mat-icon>
                    <input matInput [formControlName]="'cidade'">
                </mat-form-field>
            </div>
            <!--end:cidade-->
        </div>

        <!-- Divider -->
        <div class="mt-11 mb-10 border-t"></div>

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <button
                mat-stroked-button
                type="button">
                Cancel
            </button>
            <button
                class="ml-4"
                mat-flat-button
                [disabled]="addressForm.disabled"
                (click)="update()"
                type="button"
                [color]="'primary'">Salvar
            </button>
        </div>
    </form>

</div>
