<div class="container">
  <div class="card card-custom bg-primary">
      <div class="card-header border-0">
          <div class="card-title">
              <span class="card-icon">
                  <i class="flaticon2-chat-1 text-white"></i>
              </span>
              <h3 class="card-label text-white">
                  Aulas disponíveis
              </h3>
          </div>
          <div class="card-toolbar">
          </div>
      </div>
      <div class="separator separator-solid separator-white opacity-20"></div>
      <div class="card-body text-white">
          Aula 5: Mecânica do veículo
      </div>
  </div>
  <br />

  <div class="card card-custom bg-danger">
      <div class="card-header border-0">
          <div class="card-title">
              <span class="card-icon">
                  <i class="flaticon2-chat-1 text-white"></i>
              </span>
              <h3 class="card-label text-white">
                  Aulas pendentes
              </h3>
          </div>
          <div class="card-toolbar">
          </div>
      </div>
      <div class="separator separator-solid separator-white opacity-20"></div>
      <div class="card-body text-white">
          Aula 3 - Primeiros Socorros
      </div>
  </div>
  <br />

  <div class="card card-custom bg-success">
      <div class="card-header border-0">
          <div class="card-title">
              <span class="card-icon">
                  <i class="flaticon2-chat-1 text-white"></i>
              </span>
              <h3 class="card-label text-white">
                  Aulas Concluídas
              </h3>
          </div>
          <div class="card-toolbar">
          </div>
      </div>
      <div class="separator separator-solid separator-white opacity-20"></div>
      <div class="card-body text-white">
          <p> Aula 1 - Direção </p>
          <p> Aula 2 - Placas e Sinalizações </p>
          <p> Aula 4 - Limites da via </p>
      </div>
  </div>
</div>