<ng-container *ngIf="user$ as _user">
  <ng-container *ngIf="extrasUserDropdownStyle === 'light'">
    <!--begin::Header-->
    <div class="d-flex align-items-center p-8 rounded-top">
      <!--begin::Symbol-->
      <div class="symbol symbol-md bg-light-primary mr-3 flex-shrink-0">
        <img src="" alt="" />
      </div>
      <!--end::Symbol-->

      <!--begin::Text-->
      <div class="text-dark m-0 flex-grow-1 mr-3 font-size-h5">
        {{ _user.fullName }}
      </div>
      <!--end::Text-->
    </div>
    <div class="separator separator-solid"></div>
    <!--end::Header-->
  </ng-container>

  <!--begin::Nav-->
  <div class="navi navi-spacer-x-0 pt-5">
    <!--begin::Item-->
    <a class="navi-item px-8 cursor-pointer" routerLink="/user-profile">
      <div class="navi-link">
        <div class="navi-icon mr-2">
          <i class="flaticon2-calendar-3 text-success"></i>
        </div>
        <div class="navi-text">
          <div class="font-weight-bold">
            Meus Dados {{ _user.id }}
          </div>
          <div class="text-muted">
            Editar minhas informações
            <span class="label label-light-danger label-inline font-weight-bold">editar</span>
          </div>
        </div>
      </div>
    </a>
    <!--end::Item-->

    <!--begin::Item-->
    <a class="navi-item px-8 cursor-pointer">
      <div class="navi-link">
        <div class="navi-icon mr-2">
          <i class="flaticon2-hourglass text-primary"></i>
        </div>
        <div class="navi-text">
          <div class="font-weight-bold">
            Outras opções
          </div>
          <div class="text-muted">
            adicione aqui outra opção
          </div>
        </div>
      </div>
    </a>
    <!--end::Item-->

    <!--begin::Footer-->
    <div class="navi-separator mt-3"></div>
    <div class="navi-footer px-8 py-5">
      <a class="btn btn-light-primary font-weight-bold cursor-pointer" (click)="logout()">Sair</a>
    </div>
    <!--end::Footer-->
  </div>
  <!--end::Nav-->
</ng-container>