<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      Novo Usuário
    </div>
  </div>
  <div class="overlay overlay-block cursor-default modal-body" style="min-height: 404px">
    <ng-container>
      <form action="#" class="form form-label-right" [formGroup]="createForm">

        <!-- start: Nome -->
        <div class="form-group row">
          <div class="col-lg">
            <label class="form-label" for="fullName">Nome</label>
            <input type="text" id="fullName" class="form-control form-control-lg form-control-solid" name="fullName" placeholder="nome" autocomplete="off" formControlName="fullName" [class.is-invalid]="isControlInvalid('fullName')" [class.is-valid]="isControlValid('fullName')" />
            <div class="valid-feedback" *ngIf="isControlValid('fullName')">
              Ok!
            </div>
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'fullName')">
              Campo necessário
            </div>
            <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'fullName')">
              Muito curto
            </div>
            <div class="invalid-feedback" *ngIf="controlHasError('maxlength', 'fullName')">
              Limite de caracteres excedido
            </div>
          </div>
        </div>
        <!-- end: Nome -->

        <!-- start: email -->
        <div class="form-group row">
          <div class="col-lg">
            <label class="form-label" for="email">E-mail</label>
            <input type="text" id="email" class="form-control form-control-lg form-control-solid" name="email" placeholder="email" autocomplete="off" formControlName="email" [class.is-invalid]="isControlInvalid('email')" [class.is-valid]="isControlValid('email')" />
            <div class="valid-feedback" *ngIf="isControlValid('email')">
              Ok!
            </div>
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'email')">
              Campo necessário
            </div>
          </div>
        </div>
        <!-- end: email -->

        <!-- start: CPF -->
        <div class="form-group row">
          <div class="col-lg">
            <label class="form-label" for="cpf">CPF</label>
            <input type="text" id="cpf" class="form-control form-control-lg form-control-solid" name="cpf" placeholder="cpf" autocomplete="off" formControlName="cpf" [class.is-invalid]="isControlInvalid('cpf')" [class.is-valid]="isControlValid('cpf')" cpf [textMask]="{mask: MASKS.cpf.textMask}" />
            <div class="valid-feedback" *ngIf="isControlValid('cpf')">
              Ok!
            </div>
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'cpf')">
              Campo necessário
            </div>
            <div class="invalid-feedback" *ngIf="controlHasError('maxlength', 'cpf')">
              Limite de caracteres excedido
            </div>
          </div>
          <!-- end: CPF -->

          <!-- start: Telefone -->
          <div class="col-lg">
            <label class="form-label" for="telefone">Telefone</label>
            <input type="text" id="telefone" class="form-control form-control-lg form-control-solid" name="telefone" placeholder="telefone" autocomplete="off" formControlName="telefone" [class.is-invalid]="isControlInvalid('telefone')" [class.is-valid]="isControlValid('telefone')" telefone [textMask]="{mask: MASKS.telefone.textMask}" />
            <div class="valid-feedback" *ngIf="isControlValid('telefone')">
              Ok!
            </div>
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'telefone')">
              Campo necessário
            </div>
          </div>
        </div>
        <!-- end: Telefone -->

        <!-- start: Status -->
        <div class="form-group row">
          <div class="col-4"></div>
          <div class="col-lg">
            <div class="form-group row">
              <div class="radio-inline">
                <label class="radio radio-success">
                  <input type="radio" name="status" checked="checked" value="1" formControlName="status" />
                  <span></span>
                  Ativo
                </label>
                <label class="radio radio-danger">
                  <input type="radio" name="status" value="0" formControlName="status" />
                  <span></span>
                  Inativo
                </label>
              </div>
            </div>
          </div>
        </div>
        <!-- end: Status -->

        <!-- start:cargo -->
        <div class="form-group row">
          <div class="col-lg">
            <label>Cargo</label>
            <select class="form-control form-control-lg form-control-solid" name="cargo" formControlName="cargo" required>
              <option value="1">Administrador</option>
              <option value="2">Convidado</option>
            </select>
          </div>
        </div>
        <!-- end: cargo -->

      </form>
    </ng-container>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">
      Cancelar
    </button>
    <ng-container>
      <button type="submit" class="btn btn-primary btn-elevate" (click)="save()" [disabled]="createForm.invalid">
        Salvar
      </button>
    </ng-container>
  </div>
</div>