<!--begin::Brand-->
<div class="brand flex-column-auto" id="kt_brand" [ngClass]="brandClasses">
  <!--begin::Logo-->
  <a routerLink="" class="brand-logo">
    <img alt="headerLogo" [attr.src]="headerLogo" style="width: 90%;" />
  </a>
  <!--end::Logo-->

  <ng-container *ngIf="asideSelfMinimizeToggle">
    <button class="brand-toggle btn btn-sm px-0" id="kt_aside_toggle">
      <span [inlineSVG]="
          './assets/media/svg/icons/Navigation/Angle-double-left.svg'
        " cacheSVG="true" class="svg-icon svg-icon-xl"></span>
    </button>
  </ng-container>
</div>
<!--end::Brand-->

<!--begin::Aside Menu-->
<div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
  <ng-container *ngIf="disableAsideSelfDisplay">
    <!--begin::Header Logo-->
    <a routerLink="/">
      <img alt="Logo" [attr.src]="headerLogo" />
    </a>
    <!--end::Header Logo-->
  </ng-container>
  <!--begin::Menu Container-->
  <div id="kt_aside_menu" class="aside-menu" [ngClass]="asideMenuCSSClasses" data-menu-vertical="1" [attr.data-menu-scroll]="asideMenuScroll" [attr.data-menu-dropdown]="asideMenuDropdown" data-menu-dropdown-timeout="500" back>
    <!-- begin::Menu Nav -->
    <ul class="menu-nav" [ngClass]="ulCSSClasses">

      <!-- begin::section -->
      <li class="menu-section">
        <h4 class="menu-text">Dashboard</h4>
        <i class="menu-icon flaticon-more-v2"></i>
      </li>
      <!-- end:: section -->

      <!-- Edriving Management -->
      <!-- begin::1 Level -->
      <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
        <a class="menu-link" routerLink="" routerLinkActive="active">
          <span [inlineSVG]="'./assets/media/svg/icons/Design/Layers.svg'" cacheSVG="true" class="svg-icon menu-icon"></span>
          <span class="menu-text">Início</span>
        </a>
      </li>
      <!-- end::1 Level -->

      <!-- begin::section -->
      <li class="menu-section">
        <h4 class="menu-text">Gerenciamento</h4>
        <i class="menu-icon flaticon-more-v2"></i>
      </li>
      <!-- end:: section -->
      <!-- Edriving Management -->
      <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
        <a class="menu-link" routerLink="/edriving" routerLinkActive="active">
          <span [inlineSVG]="'./assets/media/svg/icons/General/User.svg'" cacheSVG="true" class="svg-icon menu-icon"></span>
          <span class="menu-text">Usuários E-Driving</span>
        </a>
      </li>
      <!-- Partner Management -->
      <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
        <a class="menu-link" routerLink="/partner" routerLinkActive="active">
          <span [inlineSVG]="'./assets/media/svg/icons/Communication/Group.svg'" cacheSVG="true" class="svg-icon menu-icon"></span>
          <span class="menu-text">Parceiros</span>
        </a>
      </li>

      <!-- CFC Management -->
      <!-- begin::1 Level -->
      <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" routerLinkActive="menu-item-open">
        <a class="menu-link menu-toggle" routerLinkActive="active" href="/cfc">
          <span [inlineSVG]="'./assets/media/svg/icons/Home/Commode2.svg'" cacheSVG="true" class="svg-icon menu-icon"></span>
          <span class="menu-text">Cadastros gerais</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
          <i class="menu-arrow"></i>
          <ul class="menu-subnav">
            <!-- end::1 Level -->
            <!-- begin::2 Level -->
            <li class="menu-item" routerLinkActive="menu-item-active" aria-haspopup="true" data-menu-toggle="hover">
              <a class="menu-link" routerLink="/cursos" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">Cursos</span>
              </a>
            </li>
            <!-- end::2 Level -->
            <!-- begin::3 Level -->
            <li class="menu-item" routerLinkActive="menu-item-active" aria-haspopup="true" data-menu-toggle="hover">
              <a class="menu-link" routerLink="/turmas" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">Turmas</span>
              </a>
            </li>
            <!-- end::3 Level -->
            <!-- begin::4 Level -->
            <li class="menu-item" routerLinkActive="menu-item-active" aria-haspopup="true" data-menu-toggle="hover">
              <a class="menu-link" routerLink="/cfc" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">C.F.C</span>
              </a>
            </li>
            <!-- end::4 Level -->
            <!-- begin::5 Level -->
            <li class="menu-item" routerLinkActive="menu-item-active" aria-haspopup="true" data-menu-toggle="hover">
              <a class="menu-link" routerLink="/cfc/administrative" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">Administrativos</span>
              </a>
            </li>
            <!-- end::5 Level -->
            <!-- begin::6 Level -->
            <li class="menu-item" routerLinkActive="menu-item-active" aria-haspopup="true" data-menu-toggle="hover">
              <a class="menu-link" routerLink="/cfc/instructor" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">Instrutores</span>
              </a>
            </li>
            <!-- end::6 Level -->
            <!-- begin::7 Level -->
            <li class="menu-item" routerLinkActive="menu-item-active" aria-haspopup="true" data-menu-toggle="hover">
              <a class="menu-link" routerLink="/cfc/student" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">Alunos</span>
              </a>
            </li>
            <!-- end::7 Level -->
          </ul>
        </div>
      </li>
      {{nivelAcesso}}
      <!-- begin::section -->
      <li class="menu-section">
        <h4 class="menu-text">Configurações</h4>
        <i class="menu-icon flaticon-more-v2"></i>
      </li>
      <!-- end:: section -->

      <!-- Account Management -->
      <li *ngIf="nivelAcesso >= 10 || nivelAcesso < 20" class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
        <a class="menu-link" routerLink="/edriving/account" routerLinkActive="active">
          <span [inlineSVG]="'./assets/media/svg/icons/General/Save.svg'" cacheSVG="true" class="svg-icon menu-icon"></span>
          <span class="menu-text">Meus Dados - eDriving</span>
        </a>
      </li>

      <li *ngIf="nivelAcesso >= 20" class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
        <a class="menu-link" routerLink="/partner/account" routerLinkActive="active">
          <span [inlineSVG]="'./assets/media/svg/icons/General/Save.svg'" cacheSVG="true" class="svg-icon menu-icon"></span>
          <span class="menu-text">Meus Dados - Parceiro</span>
        </a>
      </li>

      <li *ngIf="nivelAcesso >= 30" class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
        <a class="menu-link" routerLink="/cfc/account" routerLinkActive="active">
          <span [inlineSVG]="'./assets/media/svg/icons/General/Save.svg'" cacheSVG="true" class="svg-icon menu-icon"></span>
          <span class="menu-text">Meus Dados - C.F.C</span>
        </a>
      </li>

      <li *ngIf="nivelAcesso >= 30" class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
        <a class="menu-link" routerLink="/cfc/administrative/account" routerLinkActive="active">
          <span [inlineSVG]="'./assets/media/svg/icons/General/Save.svg'" cacheSVG="true" class="svg-icon menu-icon"></span>
          <span class="menu-text">Meus Dados - Adm C.F.C</span>
        </a>
      </li>

      <li *ngIf="nivelAcesso >= 30" class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
        <a class="menu-link" routerLink="/cfc/instructor/account" routerLinkActive="active">
          <span [inlineSVG]="'./assets/media/svg/icons/General/Save.svg'" cacheSVG="true" class="svg-icon menu-icon"></span>
          <span class="menu-text">Meus Dados - Instrutor C.F.C</span>
        </a>
      </li>
      <li *ngIf="nivelAcesso >= 30" class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
        <a class="menu-link" routerLink="/cfc/student/account" routerLinkActive="active">
          <span [inlineSVG]="'./assets/media/svg/icons/General/Save.svg'" cacheSVG="true" class="svg-icon menu-icon"></span>
          <span class="menu-text">Meus Dados - Aluno C.F.C</span>
        </a>
      </li>
      <!-- Logout Management -->
      <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
        <a class="menu-link" (click)="logout()" routerLinkActive="active">
          <span [inlineSVG]="'./assets/media/svg/icons/Communication/Share.svg'" cacheSVG="true" class="svg-icon menu-icon"></span>
          <span class="menu-text">Sair</span>
        </a>
      </li>
    </ul>
  </div>
</div>