<!-- Item wrapper -->
<div
    [class.fuse-vertical-navigation-item-has-subtitle]="!!item.subtitle"
    [ngClass]="item.classes?.wrapper"
    class="fuse-vertical-navigation-item-wrapper">

    <div class="fuse-vertical-navigation-item">

        <!-- Icon -->
        <mat-icon
            *ngIf="item.icon"
            [ngClass]="item.classes?.icon"
            [svgIcon]="item.icon"
            class="fuse-vertical-navigation-item-icon"></mat-icon>

        <!-- Title & Subtitle -->
        <div class="fuse-vertical-navigation-item-title-wrapper">
            <div class="fuse-vertical-navigation-item-title">
                <span [ngClass]="item.classes?.title">
                    {{item.title}}
                </span>
            </div>
            <div
                *ngIf="item.subtitle"
                class="fuse-vertical-navigation-item-subtitle">
                <span [ngClass]="item.classes?.subtitle">
                    {{item.subtitle}}
                </span>
            </div>
        </div>

        <!-- Badge -->
        <div
            *ngIf="item.badge"
            class="fuse-vertical-navigation-item-badge">
            <div
                [ngClass]="item.badge.classes"
                class="fuse-vertical-navigation-item-badge-content">
                {{item.badge.title}}
            </div>
        </div>

    </div>

</div>

<ng-container *ngFor="let item of item.children; trackBy: trackByFn">

    <!-- Skip the hidden items -->
    <ng-container *ngIf="(item.hidden && !item.hidden(item)) || !item.hidden">

        <!-- Basic -->
        <fuse-vertical-navigation-basic-item
            *ngIf="item.type === 'basic'"
            [item]="item"
            [name]="name"></fuse-vertical-navigation-basic-item>

        <!-- Collapsable -->
        <fuse-vertical-navigation-collapsable-item
            *ngIf="item.type === 'collapsable'"
            [autoCollapse]="autoCollapse"
            [item]="item"
            [name]="name"></fuse-vertical-navigation-collapsable-item>

        <!-- Divider -->
        <fuse-vertical-navigation-divider-item
            *ngIf="item.type === 'divider'"
            [item]="item"
            [name]="name"></fuse-vertical-navigation-divider-item>

        <!-- Group -->
        <fuse-vertical-navigation-group-item
            *ngIf="item.type === 'group'"
            [item]="item"
            [name]="name"></fuse-vertical-navigation-group-item>

        <!-- Spacer -->
        <fuse-vertical-navigation-spacer-item
            *ngIf="item.type === 'spacer'"
            [item]="item"
            [name]="name"></fuse-vertical-navigation-spacer-item>

    </ng-container>

</ng-container>
